$background-color: #f4f4f4;
$background-hover-color: #eaf1f7;
$border-color: #a7a7a7;

$background-blue-color: #11b3fe;
$background-hover-blue-color: #0095e0;

$brand-main: #137E6E;
$brand-background: #F4F4F4;
$brand-light-gray: #a7a7a7;
$brand-dark-gray: #282828;
